<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue" 
response = requests.get(url) 
html_content = response.content

In [3]:
soup = BeautifulSoup(html_content, 'html.parser')

In [4]:
table = soup.find('table', {'class': 'wikitable sortable'})

In [5]:
headers = [header.text.strip() for header in table.find_all('th')]
headers

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [6]:
rows = []
for row in table.find_all('tr')[1:]:
    cells = row.find_all(['td']) # If there is a possibility of having <th> elements within the body rows, you should include both td and th to ensure all relevant data is captured.
    cells = [cell.text.strip() for cell in cells]
    rows.append(cells)

df = pd.DataFrame(rows, columns=headers)

In [7]:
df.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"